<html>
<head>
	<title>Lingua: Chatroom </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a><img src="images/chat_fill.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg" class="img-responsive"></a></li>
</ul>

<div class="content">
  <br><br>
  <div class="toggle">
  <h3>Proficiency Specific Chatrooms</h3>
  <div style="height:190px;width:330px;background-color: white; overflow:auto;">
  {{#each proficiency}}
  <div class="container" id="{{id}}">
    <a href=""  onclick="clickOn(event, {{id}})">
      <img src="images/{{image}}" alt="enter lesson">
      <p class="centered">{{name}}</p>
    </a>
  </div>
  {{/each}}
</div>
  <br>
  <h3>General Chatrooms</h3>
  <div style="height:250px;width:330px;background-color: white; overflow:auto;">
  {{#each generalChat}}
  <div class="container" id="{{id}}">
    <a href=""  onclick="clickOn(event, {{id}})">
      <img src="images/{{image}}" alt="enter lesson">
      <div class="centered2">
        {{name}}
        <p id="desc">{{description}}</p> 
      </div>
    </a>
  </div>
  {{/each}}
</div>
</div>
<br>
</div>

<div id="popupquiz" style="left:6%">
  <div id="innerquiz">
    <button type="button" class="close" aria-label="Close" onclick="clickOff(event)"> <span aria-hidden="true" style="margin:18px">&times;</span></button><br><br><br><br>
    <h4>🏫 Beginner Grammar</h4><br>
    <p>Objective: Learn and Practice Introductory Spanish Grammar</p>
    <a href="/chat"><button type="button" class="btn btn-success">Enter</button></a>
  </div>
</div>

<script>
  function clickOn(e, id){
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'none';
    document.getElementById("popupquiz").style.display = 'block';
    e.preventDefault();
  }
  function clickOff(e){
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'block';
    document.getElementById("popupquiz").style.display = 'none';
    e.preventDefault();
  }
</script>

</body>
</html>
