<html>
<head>
	<title>Lingua: Chat </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/index"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat_fill.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg" class="img-responsive"></a></li>
</ul>

<!--add title of screen-->

<div class = "toggle"style="background-color: white; overflow:auto;">
  <h2 style="color: black;">Chat Messages</h2>

  {{#each BeginnerConvChat}}
  <div class={{theme}}>
    <img src={{image}} class={{imgPos}} style="width:100%;">
    <p>{{name}}</p>
    <p id="text">{{text}}</p>
    <span class={{timePos}}>{{time}}</span>
  </div>
  {{/each}}
	<form id="addFriendForm" role="form" method="get" action="/add">

    <form name="message" role="form" method="get" action="/add">
      <input name="usermsg" type="text" id="usermsg" />
      <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
  </form>
</div>

</body>
</html>
