<html>
<head>
	<title>Lingua: Learning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="/images/logo.svg" class="img-responsive"></a></li>
  <li><a><img src="/images/learn_fill.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="/images/chat.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="/images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="/images/profile.svg" class="img-responsive"></a></li>
</ul>

<div class="content" id="page">
<h3 class="toggle" id="tesd">Progress: beginner</h3>
<div class="progress toggle" style="width:92%">
  <div class="progress-bar progress-bar-striped active" id="bar" role="progressbar"
  aria-valuenow="0" aria-valuemin="0" aria-valuemax="40" style="width:0%">
  0/40 points
  </div>
</div>
<br>
<h3 class="toggle">New Lessons</h3>
<div>
  <div class = "toggle" id="lessons" style="height:280px;width:330px;background-color: white;overflow:auto;">
    <p id="completeAll" style="color: rgb(16, 80, 58); font-size: 12px; margin: 5% 5%; display:none" >Congratulations, you have completed all lesson in this proficiency!</p>
    <div id="changequiz">
    {{#each newquiz}}
    <div class="container" id="{{id}}">
      <a href="" onclick="clickOn(event, this)">
        <img src="images/{{image}}" alt="enter lesson">
        <p class="centered">{{name}}</p>
        <a hidden class="newQuizDiv"></a>
      </a>
    </div>
    {{/each}}
    </div>
  </div>
</div>


<div id="popupquiz">
  <div id="innerquiz">
    <button type="button" class="close" aria-label="Close" onclick="clickOff(event)"> <span aria-hidden="true" style="margin:18px">&times;</span></button><br>
    <h4 style="margin-left:15%" id="title"></h4>
    <h4 id="title2"></h4><br>
    <p id="obj"></p>
    <a onClick = "enterLesson(event)"><button type="button" class="btn btn-success">Enter</button></a>
  </div>
</div>

<br>
<h3 class="toggle">Completed Lessons</h2>
<div class = "toggle" id="completeLess" style="height:110px;width:330px; background-color: white; overflow:auto;">
  <p id="nocomplete" style="color: rgb(16, 80, 58); font-size: 12px; margin: 5% 5%;" >You haven't completed any lesson! Let's start learning.</p>
<!--You haven't completed any quizzes!-->
  <div id="changequiz2">
  {{#each oldquiz}}
  <div class="container" id="{{id}}">
    <a href="" onclick="clickOn(event, this)">
      <img src="/images/{{image}}" style="" alt="enter lesson">
      <p class="centered">{{name}}</p>
      <a hidden class="oldquizDiv"></a>
    </a>
  </div>
  {{/each}}
  </div>
<br>
</div>

<script>
  function clickOn(e, obj){
    var title = obj.getElementsByTagName('p')[0].innerHTML;
    $("#title").text(title.substring(0, 10));
    $("#title2").text(title.substring(10));
    if(title.includes("Introduce")) $("#obj").text("Objective: Practice how to introduce yourself and say hello in Spanish!");
    else if(title.includes("Conversation")) $("#obj").text("Objective: Practice how to start a conversation in Spanish!");
    else $("#obj").text("Practice common words and phrases used " + title.substring(10).toLowerCase() + " in Spanish.");
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'none';
    document.getElementById("popupquiz").style.display = 'block';
    e.preventDefault();
  }
  function clickOff(e){
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'block';
    document.getElementById("popupquiz").style.display = 'none';
    e.preventDefault();
  }
  function enterLesson(e){
    var url = "/lesson/" + document.getElementById("title").innerHTML + document.getElementById("title2").innerHTML ;
    console.log(url);
    window.location.href = url;
    e.preventDefault();
  }

  function adjustSize(){
    var oldquizCount = document.getElementsByClassName("oldquizDiv");
    var newquizCount = document.getElementsByClassName("newQuizDiv");
    console.log('hey', oldquizCount.length);
    console.log('hey2', newquizCount.length);
    if(oldquizCount.length > 0) document.getElementById("nocomplete").style.display = 'none';
    if(oldquizCount.length > 3){
      var completelen = (110 + (oldquizCount.length - 3) * 45);
      document.getElementById('completeLess').style.height = completelen;
      document.getElementById('lessons').style.height = (280 + 110 - completelen);
    }
    if(newquizCount == 0) document.getElementById('completeAll').style.display = 'block';
  }

  // checks proficiency, progress, and completed quizzes on window load
  window.onload = (event) => {
    // adjustSize(); // work in progress

    // Upgrade proficiency if points are met
    let tempPoints = parseFloat(localStorage.getItem('progress'));
    let proficiency = localStorage.getItem('proficiency');
    if(parseFloat(localStorage.getItem('progress')) >= 40 ) {

      if(proficiency === "beginner" || proficiency === "Beginner") {
        localStorage.setItem('proficiency', 'Intermediate');
      } else if(proficiency === "intermediate" || proficiency === "Intermediate") {
        localStorage.setItem('proficiency', 'Advanced');
      }

      tempPoints = tempPoints - 40;
      console.log("tempPoints are: " + tempPoints);
      localStorage.setItem('progress_earned', 0);
      localStorage.setItem('progress', tempPoints);
      console.log("progress is now: " + localStorage.getItem('progress'));
    } 

    //proficiency
    document.getElementById("tesd").innerHTML = "Progress: " + localStorage.getItem('proficiency');

    //progress
    let tempNumber = (parseInt(localStorage.getItem('progress'))) / 40;
    tempNumber = tempNumber * 100;
    document.getElementById("bar").style.width = tempNumber + "%";

    //Rounds the points
    tempPoints = Math.round((tempPoints + Number.EPSILON ) * 100) / 100;
    console.log(tempPoints);
    document.getElementById("bar").innerHTML = tempPoints + "/40 points"; 


    // change the list of lessons shown based on proficiency
    var prof = localStorage.getItem('proficiency');

    if(prof.toLowerCase() === "intermediate"){
      var projectHTML = "{{#each newquizInt}}<div class='container' id='{{id}}'><a href='' onclick='clickOn(event, this)'><img src='images/{{image}}' alt='enter lesson'><p class='centered'>{{name}}</p></a></div>{{/each}}";
      $("#changequiz").html(projectHTML);
      projectHTML = "{{#each oldquizInt}}<div class='container' id='{{id}}'><a href='' onclick='clickOn(event, this)'><img src='/images/{{image}}' style='' alt='enter lesson'><p class='centered'>{{name}}</p></a></div>{{/each}}";
      $("#changequiz2").html(projectHTML);
    }
    if(prof.toLowerCase() === "advanced"){
      var projectHTML = "{{#each newquizAdv}}<div class='container' id='{{id}}'><a href='' onclick='clickOn(event, this)'><img src='images/{{image}}' alt='enter lesson'><p class='centered'>{{name}}</p></a></div>{{/each}}";
      $("#changequiz").html(projectHTML);
      projectHTML = "{{#each oldquizAdv}}<div class='container' id='{{id}}'><a href='' onclick='clickOn(event, this)'><img src='/images/{{image}}' style='' alt='enter lesson'><p class='centered'>{{name}}</p></a></div>{{/each}}";
      $("#changequiz2").html(projectHTML);
    }
  };

  
</script>

</body>
</html>